body {
    font-family: $font-pagina;
}

button {
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    color: #fff;
    font-size: 0.875rem;
    background: #30488f;
    border-radius: 7px;
    border: none;
}
