body {
    font-family: $font-pagina;
    color: $colore-principale-testi;
    font-size: $dimensione-testo-paragrafi;
}

button {
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    color: #fff;
    font-size: 0.875rem;
    background: #30488f;
    border-radius: 7px;
    border: none;

    &:hover {
        background-color: $colore-hover-jumbotron;
        transition: 1s;
    }
}
