$colore-principale-testi:  #58402c;
$dimensione-container: 60%;
$dimensione-titoli-sezioni:  26px;
$dimensione-testo-paragrafi: 16px;
$dimensione-testo-menu: 14px;
$colore-border-bottom:  #bdb5af;
$colore-hover: #30488F;
$font-pagina: 'PT Sans', sans-serif;
